/* Style overall */

body {
  background-image: url("../images/lucky_shrubs_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 3rem;
  padding-left: 100px;
  padding-right: 100px;

}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Style the top header */

.top-header {
  margin: 0px;
  padding: 0px;
  height: fit-content;
}

.top-header ul {
  margin: 0 0 40px 0;
  padding: 0;
  background-color: #f1f1f1;
  list-style-type: none;
  list-style: none;
  text-align: center;
}

.top-header li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


.top-header li a:hover {
    background-color: rgb(252, 161, 57);
  color: black;
}

.top-header li a.active {
  background-color: rgb(0, 5, 10);
  color: white;
}

.top-header li {
  display: inline-block;
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  display: none;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
  width: 50px;
  margin: 0 0 0 1%;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #26877f;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

#mid-content {
  display: flex;
  background-color: #ede5e5;
}


main {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}


/* Style for the footer */
footer {
  display: flex;
  background-color: #f1f1f1;
  height: 50px;
}

footer div {
  flex: 1;
}

footer img {
  width: 100px;
  float: right;
  margin-left: 10%;
}



/* Style for the right-nav  */
#right-nav {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#right-nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#right-nav li a:hover {
  background-color: #ddd;
  color: black;
}

#right-nav li a.active {
  background-color: #ede5e5;
}
.for-sale{
display: grid;
gap: 10px;
  grid-template-columns: auto auto;
  background-color: #d9dacf;
  padding: 10px;
}

.article1{
background-image: url("../images/mangata-article1.jpg");
background-position: center;
background-size: contain;
background-color: white;
align-items: center;
height: 90px;
text-align: center;
color: white;
background-repeat: no-repeat;
  
}

.article2{
  border: 1px dashed rgba(82, 54, 54, 0.8);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background-color: rgb(204, 241, 206);
}
.items-for-sale{
  max-width: 200px;
  transition: width 2s;
  box-shadow: 5px 5px 20px rgb(50, 130, 7);
}
  .items-for-sale:hover{
    box-shadow: 10px 10px 100px rgb(127, 96, 127);
  }


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  /* Style the top header */
  .top-header {
    margin: 0px;
    padding: 0px;
    height: fit-content;
  }

  .top-header ul {
    margin: 0 0 40px 0;
    padding: 0;
    background-color: #f1f1f1;
    list-style-type: none;
    list-style: none;
    text-align: center;
  }

  .top-header li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  .top-header li a:hover {
    background-color: rgb(252, 161, 57);
    color: black;
  }

  .top-header li a.active {
    background-color: rgb(0, 5, 10);
    color: white;
  }

  .top-header li {
    display: block;
  }

  body {
    padding: 0;
  }
  /* Style overall */

  main h1 {
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
  }

  .header a {
    float: none;
    padding-bottom: 10px;
    font-size: x-small;
    margin: 5px;
    background-color: rgb(204, 241, 206);
    display: block;
    text-align: center;
  }

  .header .logo {
    text-align: center;
    width: 40px;
    margin-left: 46%;
  }

  .header a.active {
    background-color: #da9292;
    color: white;
    text-decoration: none;
  }
  .header a:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: #4a5d47;
  }

  .header-right {
    float: none;
  }

  #left-nav {
    display: none;
  }

  .footer-right {
    text-align: center;
  }

  main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
  }

  #right-nav {
    display: none;
  }

  footer img {
    padding: 5px;
    width: 60px;
    float: left;
  }

  footer {
    font-size: 11px;
    text-align: end;
    padding-right: 10px;
  }

  .small-invi {
    display: none;
  }

.for-sale{
display: grid;
gap: 5px;
  grid-template-columns: auto;
  background-color: #d9dacf;
  padding: 10px;
}

}

