/* Style for whole page */
h2{
  color: white;
}
/* Style the top header */

.top-header {
  margin: 0px;
  padding: 0px;
  height: fit-content;
}

.top-header ul {
  margin: 0 0 40px 0;
  padding: 0;
  background-color: #f1f1f1;
  list-style-type: none;
  list-style: none;
  text-align: center;
}

.top-header li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


.top-header li a:hover {
    background-color: rgb(252, 161, 57);
  color: black;
}

.top-header li a.active {
  background-color: rgb(0, 5, 10);
  color: white;
}

.top-header li {
  display: inline-block;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
  width: 150px;
  margin: 0 0 0 1%;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #d4af37;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: rgb(25, 48, 70);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Style for About Mangato */
#about-mangato{
    background-color: rgb(3, 43, 82);
  color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
}

#items-for-sale-section{
  /* background-color: #d4af37; */
display: grid;
gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #d9dacf;
  padding: 10px;
}

.article1{
background-image: url("../images/mangata-article1.jpg");
background-position: center;
background-size: contain;
background-color: white;
align-items: center;
height: 90px;
text-align: center;
color: white;
background-repeat: no-repeat;
  
}

.article2{
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background-color: #0e0222;
}
.items-for-sale{
  max-width: 200px;
  transition: width 2s;
  box-shadow: 5px 5px 20px white;
}
  .items-for-sale:hover{
    box-shadow: 10px 10px 100px white;
  }


/* Style for the footer */
footer {
  display: flex;
  background-color: #f1f1f1;
  height: 50px;
}

footer div {
  flex: 1;
}

footer img {
  width: 100px;
  float: right;
  margin-left: 10%;
}


/* Style for the footer */
.footer {
  overflow: hidden;
  background-color: #f1f1f1;
}

.footer h3 {
	margin-left: 16px;
}

.footer-right{
	float: right;
	text-justify: auto;
	text-align: end;
}


#left-nav {
	margin: 0px;
padding: 0px;	
	height:fit-content;
}

#left-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#left-nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#left-nav li a:hover {
  background-color: #d4af37;
  color: black;
}

#left-nav li a.active{
  background-color: rgb(3, 43, 82);
  color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  /* Style the top header */
  .top-header {
    margin: 0px;
    padding: 0px;
    height: fit-content;
  }

  .top-header ul {
    margin: 0 0 40px 0;
    padding: 0;
    background-color: #f1f1f1;
    list-style-type: none;
    list-style: none;
    text-align: center;
  }

  .top-header li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  .top-header li a:hover {
    background-color: rgb(252, 161, 57);
    color: black;
  }

  .top-header li a.active {
    background-color: rgb(0, 5, 10);
    color: white;
  }

  .top-header li {
    display: block;
  }

  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header .logo{
    text-align: center;
    width: 170px;
    margin-left: 30%;
  }

  .header a.active {
    background-color: rgb(3, 43, 82);
    color: white;
  }
  .header-right {
    float: none;
  }
  #left-nav {
    display: none;
  }
  .footer-right{
    text-align: center;
  }

  h1{
    font-size: small;
  }

  body{
    font-size: smaller;
  }

#items-for-sale-section{
display: grid;
gap: 10px;
  grid-template-columns: auto;
  background-color: #d9dacf;
  padding: 10px;
}

.article1{
background-image: url("../images/mangata-article1.jpg");
background-position: center;
background-size: contain;
background-color: white;
align-items: center;
height: 40px;
text-align: center;
color: white;
background-repeat: no-repeat;
  
}

.article2{
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background-color: #0e0222;
}
.items-for-sale{
  max-width: 140px;
    box-shadow: 10px 10px 30px white;
}

  footer img {
    padding: 5px;
    width: 60px;
    float: left;
  }

  footer {
    font-size: 11px;
    text-align: end;
    padding-right: 10px;
  }

}
